{% comment %}
  Renders facets (filtering and sorting) using Dawn's modular approach

  Accepts:
  - results: {Object} Collection or Search object
  - enable_filtering: {Boolean} Show filtering when true
  - enable_sorting: {Boolean} Show sorting when true
  - filter_type: {String} Type of filter ('horizontal', 'vertical', or 'drawer')
  - paginate: {Object}
  - section_id: {String} The section ID

  Usage:
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'horizontal', section_id: section.id %}
{% endcomment %}

{{ 'component-show-more.css' | asset_url | stylesheet_tag }}
{{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}
{{ 'component-swatch.css' | asset_url | stylesheet_tag }}
<script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  assign default_presentation = 'text'
  
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif

  for filter in results.filters
    case filter.type
      when 'price_range'
        if filter.min_value.value != null or filter.max_value.value != null
          assign total_active_values = total_active_values | plus: 1
        endif
      when 'boolean'
        if filter.active_values[0].value
          assign total_active_values = total_active_values | plus: 1
        endif
      else
        assign active_value_count = filter.active_values | size
        assign total_active_values = total_active_values | plus: active_value_count
    endcase
  endfor

  assign is_active = false
  assign should_use_select_on_mobile = true
  if enable_filtering == false and enable_sorting
    assign should_use_select_on_mobile = false
  endif
-%}

{% if enable_filtering or enable_sorting %}
  {% if filter_type == 'vertical' or filter_type == 'horizontal' %}
    <div class="facets facets--{{ filter_type }} facets-controls-wrapper">
      {% if enable_filtering and filter_type == 'vertical' %}
        <h4 class="facets--filters-title">{{ 'products.facets.filter_by_label' | t | default: 'Filter' }}</h4>
      {% endif %}

      <div class="products-count-wrapper" data-testid="products-count">
        <span title="{{ 'products.facets.product_count' | t | default: 'Products' }}">
          {% if results.products_count > 25000 %}
            {{- 'products.facets.item_count_cutoff' | t: count: 25000 | default: '25000+ products' -}}
          {% else %}
            {{- 'products.facets.product_count_simple' | t: count: results.products_count | default: results.products_count -}}
          {% endif %}
        </span>
      </div>

      {% if enable_sorting and filter_type == 'vertical' %}
        {% render 'sorting',
          results: results,
          sort_by: sort_by,
          filter_style: filter_type,
          suffix: 'desktop',
          sort_position: 'desktop',
          should_use_select_on_mobile: false,
          section_id: section_id
        %}
      {% endif %}
    </div>
  {% endif %}

  <div class="facets-block-wrapper facets-block-wrapper--{{ filter_type }}">
    <div class="facets facets--{{ filter_type }}" aria-label="{{ 'accessibility.filters' | t | default: 'Filters' }}">
      <facets-form-component
        class="facets__form-wrapper"
        section-id="{{ section_id }}"
        form-style="{{ filter_type }}"
      >
        <form
          action="{{ results_url }}"
          id="FacetFiltersForm--{{ section_id }}-desktop"
          class="facets__form"
          ref="facetsForm"
        >
          {% if enable_filtering %}
            {% render 'filter-remove-buttons',
              filters: results.filters,
              results_url: results_url,
              show_filter_label: false,
              should_show_clear_all: true
            %}

            {% assign total_active_values = 0 %}
            {% capture rendered_filters %}
              {%- for filter in results.filters -%}
                {% case filter.type %}
                  {% when 'price_range' %}
                    {%- liquid
                      if filter.min_value.value != null or filter.max_value.value != null
                        assign total_active_values = total_active_values | plus: 1
                        assign is_active = true
                      endif

                      if filter_type != 'vertical'
                        assign should_render_clear = true
                      else
                        assign should_render_clear = false
                      endif

                      render 'price-filter', filter: filter, filter_style: filter_type, should_render_clear: should_render_clear
                    -%}
                  {% else %}
                    {% liquid
                      if filter.active_values.size > 0
                        assign is_active = true
                      endif

                      assign active_value_count = filter.active_values | size
                      assign total_active_values = total_active_values | plus: active_value_count
                      if filter_type != 'vertical'
                        assign should_render_clear = true
                      else
                        assign should_render_clear = false
                      endif
                      render 'list-filter', filter: filter, filter_style: filter_type, active_value_count: active_value_count, should_render_clear: should_render_clear, sectionId: section_id
                    %}
                {% endcase %}
              {%- endfor -%}
            {% endcapture %}

            <div class="facets__filters-wrapper">
              {{ rendered_filters }}
            </div>

            {% if filter_type == 'horizontal' %}
              <facet-remove-component
                class="facets-horizontal-remove {% if is_active %}facets-horizontal-remove--active{% endif %}"
                active-class="facets__clear-all-link--active"
                data-url="{{ results_url }}"
              >
                <button
                  type="button"
                  class="button-unstyled facets__clear-all-link facets__clear-all-link--horizontal {% if is_active %}facets__clear-all-link--active{% endif %}"
                  ref="clearButton"
                  on:click="/removeFilter?form="
                  on:keydown="/removeFilter?form="
                >
                  {{- 'products.facets.clear_all' | t | default: 'Clear all' -}}
                </button>
              </facet-remove-component>
            {% endif %}
          {% endif %}

          {% if filter_type == 'horizontal' %}
            <div class="products-count-wrapper" data-testid="products-count">
              <span title="{{ 'products.facets.product_count' | t | default: 'Products' }}">
                {% if results.products_count > 25000 %}
                  {{- 'products.facets.item_count_cutoff' | t: count: 25000 | default: '25000+ products' -}}
                {% else %}
                  {{- 'products.facets.product_count_simple' | t: count: results.products_count | default: results.products_count -}}
                {% endif %}
              </span>
            </div>

            {% if enable_sorting %}
              {% render 'sorting',
                results: results,
                sort_by: sort_by,
                filter_style: filter_type,
                suffix: 'desktop',
                sort_position: 'desktop',
                should_use_select_on_mobile: false,
                section_id: section_id
              %}
            {% endif %}
          {% endif %}
        </form>
      </facets-form-component>
    </div>
  </div>

  <div class="facets-toggle{% if enable_filtering == false %} facets-toggle--no-filters{% endif %}">
    {% if enable_filtering %}
      <div class="facets-toggle__wrapper">
        <button
          class="button facets-toggle__button button-unstyled button-unstyled--with-icon"
          type="button"
          onclick="document.getElementById('filters-drawer').showModal()"
        >
          <span class="svg-wrapper">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M19 4H1L7 11V19L13 16V11L19 4Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
          {{ 'products.facets.filter_button' | t | default: 'Filter' }}

          {% if total_active_values > 0 %}
            <div class="filter-count-bubble" aria-label="{{ 'accessibility.filter_count' | t: count: total_active_values | default: total_active_values }}">
              <span class="filter-count-bubble__background"></span>
              <span class="filter-count-bubble__text" aria-hidden="true">
                {{ total_active_values }}
              </span>
            </div>
          {% endif %}
        </button>
      </div>
    {% endif %}

    <div class="facets-mobile-wrapper facets-controls-wrapper{% if enable_filtering == false and enable_sorting %} facets-mobile-wrapper--multiple-controls{% endif %}">
      {% if enable_filtering == false and enable_sorting %}
        <facets-form-component
          section-id="{{ section_id }}"
          id="FacetFiltersForm--{{ section_id }}-mobile-sorting-only"
        >
          <form
            action="{{ results_url }}"
            id="FacetFiltersForm--{{ section_id }}-mobile-sorting-only"
            ref="facetsForm"
          >
            {% render 'sorting',
              results: results,
              sort_by: sort_by,
              filter_style: filter_type,
              sort_position: 'mobile',
              should_use_select_on_mobile: should_use_select_on_mobile,
              section_id: section_id
            %}
          </form>
        </facets-form-component>
      {% endif %}
    </div>
  </div>
{% else %}
  <div></div>
{% endif %}

{% if enable_filtering %}
  <dialog id="filters-drawer" class="facets-drawer">
    <facets-form-component
      class="facets__form-wrapper facets-drawer__form-wrapper"
      section-id="{{ section_id }}"
      id="FacetFiltersFormComponent--{{ section_id }}-overflow"
    >
      <form
        action="{{ results_url }}"
        id="FacetFiltersForm--{{ section_id }}-overflow"
        class="facets__form"
        ref="facetsForm"
      >
        <div class="facets__title-wrapper">
          <h2 class="facets-drawer__title h3">
            {{ 'products.facets.filter_by_label' | t | default: 'Filter' }}

            {% if total_active_values > 0 %}
              <span class="bubble facets__bubble" aria-hidden="true">
                {{ total_active_values }}
              </span>
              <span class="visually-hidden">
                {{ 'accessibility.filter_count' | t: count: total_active_values | default: total_active_values }}
              </span>
            {% endif %}
          </h2>
          <button
            class="button facets-drawer__close button-unstyled close-button"
            type="button"
            onclick="this.closest('dialog').close()"
          >
            <span class="svg-wrapper svg-wrapper--small" title="{{ 'actions.close' | t | default: 'Close' }}">
              {% render 'icon-fragrance', icon: 'close' %}
            </span>
          </button>
        </div>

        <div class="facets-drawer__filters">
          {% if enable_filtering %}
            {% render 'filter-remove-buttons',
              filters: results.filters,
              results_url: results_url,
              show_filter_label: false,
              should_show_clear_all: false
            %}

            <div class="facets__filters-wrapper">
              {% assign total_active_values = 0 %}
              {% assign is_active = false %}

              {%- for filter in results.filters -%}
                {% case filter.type %}
                  {% when 'price_range' %}
                    {%- liquid
                      if filter.min_value.value != null or filter.max_value.value != null
                        assign total_active_values = total_active_values | plus: 1
                        assign is_active = true
                      endif

                      render 'price-filter', filter: filter, filter_style: 'vertical', should_render_clear: false
                    -%}
                  {% else %}
                    {% liquid
                      if filter.active_values.size > 0
                        assign is_active = true
                      endif

                      assign active_value_count = filter.active_values | size
                      assign total_active_values = total_active_values | plus: active_value_count
                      render 'list-filter', filter: filter, filter_style: 'vertical', active_value_count: active_value_count, should_render_clear: false, in_drawer: true, sectionId: section_id
                    %}
                {% endcase %}
              {%- endfor -%}
            </div>
          {% endif %}

          {% if enable_sorting %}
            {% render 'sorting',
              results: results,
              sort_by: sort_by,
              filter_style: filter_type,
              suffix: 'overflow',
              should_use_select_on_mobile: should_use_select_on_mobile,
              section_id: section_id
            %}
          {% endif %}
        </div>
      </form>
    </facets-form-component>

    <div class="facets__drawer-actions">
      <facet-remove-component
        data-url="{{ results_url }}"
        active-class="facets__clear-all--active"
      >
        <button
          type="button"
          class="button-secondary facets__clear-all{% if is_active %} facets__clear-all--active{% endif %}"
          ref="clearButton"
          onclick="this.closest('facet-remove-component').dispatchEvent(new Event('click'))"
        >
          {{- 'products.facets.clear_all' | t | default: 'Clear all' -}}
        </button>
      </facet-remove-component>

      {% if results.products_count > 0 %}
        <button
          class="button facets__see-results"
          type="button"
          onclick="this.closest('dialog').close()"
        >
          {{- 'products.facets.apply' | t: count: results.products_count | default: 'See results' -}}
        </button>
      {% endif %}
    </div>
  </dialog>
{% endif %}

{% stylesheet %}
  .facets-container {
    position: relative;
  }

  .facets-block-wrapper {
    margin-bottom: var(--margin-md, 16px);
  }

  @media screen and (min-width: 750px) {
    .facets-block-wrapper--vertical {
      grid-column: 2 / span 2;
    }

    .facets--vertical {
      display: block;
    }
  }

  .facets--horizontal {
    display: none;
  }

  @media screen and (min-width: 750px) {
    .facets--horizontal {
      padding-block: var(--padding-block-start, 8px) var(--padding-block-end, 8px);
      display: flex;
      align-items: center;
      position: relative;
      z-index: 100;
      border: none;
      height: auto;
      width: auto;
      overflow: visible;
      gap: var(--facets-form-horizontal-gap, 20px);
    }
  }

  .facets-controls-wrapper {
    color: rgb(var(--color-foreground-rgb, 0, 0, 0) / 0.7);
    gap: 0 var(--facets-form-horizontal-gap, 20px);
    padding-bottom: var(--padding-xs, 8px);
  }

  .facets__form-wrapper {
    display: flex;
    flex-direction: column;
    color: var(--color-foreground-muted);
    width: 100%;
  }

  @media screen and (min-width: 750px) {
    .facets--horizontal .facets__form-wrapper {
      flex-direction: row;
      height: auto;
    }
  }

  .facets__form {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: 750px) {
    .facets--horizontal .facets__form {
      flex-flow: row nowrap;
      height: auto;
      gap: 0 var(--facets-form-horizontal-gap, 20px);
    }
  }

  .facets__filters-wrapper {
    flex: 1;
  }

  @media screen and (min-width: 750px) {
    .facets--horizontal .facets__filters-wrapper {
      max-width: 60%;
      display: flex;
      flex-wrap: wrap;
      column-gap: var(--gap-xl, 24px);
    }
  }

  .facets--filters-title {
    margin-block-end: 0;
    color: var(--color-foreground);
    height: fit-content;
  }

  @media screen and (max-width: 749px) {
    .facets--filters-title {
      display: none;
    }
  }

  .products-count-wrapper {
    display: none;
  }

  @media screen and (min-width: 750px) {
    .facets--horizontal .products-count-wrapper {
      display: flex;
      margin-left: auto;
      flex-shrink: 0;
      align-items: center;
      height: var(--minimum-touch-target, 44px);
    }
  }

  .facets__clear-all-link {
    display: none;
    cursor: pointer;
    padding: var(--padding-xs, 8px);
    color: var(--button-color, inherit);
    text-decoration-color: transparent;
    transition: text-decoration-color var(--animation-speed, 200ms) var(--animation-easing, ease);
    background: none;
    border: none;
    font-size: inherit;
  }

  .facets__clear-all-link:hover {
    text-decoration: underline;
  }

  .facets__clear-all-link--horizontal {
    height: var(--minimum-touch-target, 44px);
    padding-inline: var(--facets-form-horizontal-gap, 20px);
    min-width: 120px;
  }

  .facets__clear-all-link--active {
    display: block;
  }

  .facets-horizontal-remove {
    display: flex;
    align-items: center;
  }

  .facets-horizontal-remove--active::before {
    content: '';
    border-inline-start: 1px solid var(--color-border, rgba(0, 0, 0, 0.1));
    height: var(--font-paragraph--size, 16px);
    position: absolute;
    margin-left: -10px;
  }

  .facets-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--minimum-touch-target, 44px);
    margin-bottom: var(--margin-md, 16px);
    padding: var(--padding-sm, 8px) var(--padding-md, 16px);
  }

  @media screen and (min-width: 750px) {
    .facets-toggle {
      display: none;
    }
  }

  .facets-toggle--no-filters {
    justify-content: unset;
  }

  @media screen and (max-width: 749px) {
    .facets-toggle--no-filters > .facets-mobile-wrapper {
      width: 100%;
    }
  }

  .facets-toggle__button {
    box-shadow: none;
    display: flex;
    align-items: center;
    gap: var(--gap-xs, 8px);
    padding: var(--padding-sm, 8px) var(--padding-md, 16px);
    border: 1px solid var(--color-border, rgba(0, 0, 0, 0.1));
    border-radius: var(--style-border-radius-md, 8px);
    background: var(--color-background);
    cursor: pointer;
  }

  .filter-count-bubble {
    position: relative;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    line-height: normal;
    place-content: center;
    color: var(--color-foreground);
    border: 1px solid var(--color-background);
  }

  .filter-count-bubble__background {
    position: absolute;
    inset: 0;
    background-color: rgb(var(--color-foreground-rgb, 0, 0, 0) / 0.1);
    border-radius: 50%;
  }

  .filter-count-bubble__text {
    font-size: 11px;
    font-weight: 500;
    aspect-ratio: 1 / 1;
    position: relative;
    z-index: 1;
  }

  .facets-mobile-wrapper {
    display: flex;
    align-items: center;
    gap: var(--gap-sm, 8px);
    justify-content: flex-end;
  }

  .facets-mobile-wrapper--multiple-controls {
    justify-content: space-between;
  }

  .facets-drawer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 100%;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: var(--shadow-drawer, -4px 0 12px rgba(0, 0, 0, 0.15));
    background: var(--color-background);
    z-index: 1000;
  }

  .facets-drawer::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

  .facets-drawer__form-wrapper {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .facets-drawer__form-wrapper .facets__form {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .facets-drawer__filters {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 0 var(--padding-md, 16px);
  }

  .facets__title-wrapper {
    background-color: var(--color-background);
    color: var(--color-foreground);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-md, 16px);
    z-index: 10;
    border-bottom: 1px solid var(--color-border, rgba(0, 0, 0, 0.1));
  }

  .facets-drawer__title {
    margin: 0;
    display: flex;
    align-items: center;
    gap: var(--gap-xs, 8px);
  }

  .facets-drawer__close {
    position: relative;
    top: 0;
    right: 0;
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
  }

  .facets__drawer-actions {
    position: sticky;
    bottom: 0;
    z-index: 10;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: stretch;
    gap: var(--gap-sm, 8px);
    padding: var(--padding-md, 16px);
    margin-top: auto;
    background-color: var(--color-background);
    border-top: 1px solid var(--color-border, rgba(0, 0, 0, 0.1));
  }

  .facets__clear-all {
    display: none;
    cursor: pointer;
    min-width: 120px;
    flex-grow: 1;
    padding-block: var(--padding-md, 16px);
    color: var(--button-color, inherit);
    background: none;
    border: 1px solid var(--color-border, rgba(0, 0, 0, 0.2));
    border-radius: var(--style-border-radius-md, 8px);
  }

  .facets__clear-all--active {
    display: block;
  }

  .facets__see-results {
    min-width: 55%;
    flex-grow: 1;
    padding: var(--padding-md, 16px);
    background: var(--color-button-primary, #000);
    color: var(--color-button-primary-text, #fff);
    border: none;
    border-radius: var(--style-border-radius-md, 8px);
    cursor: pointer;
  }

  .button-unstyled {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
  }

  .button-unstyled--with-icon {
    display: inline-flex;
    align-items: center;
    gap: var(--gap-xs, 8px);
  }

  .h3 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .h6 {
    font-size: 0.875rem;
    font-weight: 500;
  }

  .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal !important;
  }

  .hidden {
    display: none !important;
  }

  .list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
  }
{% endstylesheet %}
