{% comment %}
  Renders facets (filtering and sorting) using Dawn's modular approach

  Accepts:
  - results: {Object} Collection or Search object
  - enable_filtering: {Boolean} Show filtering when true
  - enable_sorting: {Boolean} Show sorting when true
  - filter_type: {String} Type of filter ('horizontal', 'vertical', or 'drawer')
  - paginate: {Object}
  - section_id: {String} The section ID

  Usage:
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'horizontal', section_id: section.id %}
{% endcomment %}

{{ 'component-show-more.css' | asset_url | stylesheet_tag }}
{{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}
{{ 'component-swatch.css' | asset_url | stylesheet_tag }}
<script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  assign default_presentation = 'text'
  
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif

  for filter in results.filters
    case filter.type
      when 'price_range'
        if filter.min_value.value != null or filter.max_value.value != null
          assign total_active_values = total_active_values | plus: 1
        endif
      when 'boolean'
        if filter.active_values[0].value
          assign total_active_values = total_active_values | plus: 1
        endif
      else
        assign active_value_count = filter.active_values | size
        assign total_active_values = total_active_values | plus: active_value_count
    endcase
  endfor

  assign is_active = false
  assign should_use_select_on_mobile = true
  if enable_filtering == false and enable_sorting
    assign should_use_select_on_mobile = false
  endif
-%}

{% if enable_filtering or enable_sorting %}
  {% if filter_type == 'vertical' or filter_type == 'horizontal' %}
    <div class="facets facets--{{ filter_type }} facets-controls-wrapper">
      {% if enable_filtering and filter_type == 'vertical' %}
        <h4 class="facets--filters-title">{{ 'products.facets.filter_by_label' | t | default: 'Filter' }}</h4>
      {% endif %}

      <div class="products-count-wrapper" data-testid="products-count">
        <span title="{{ 'products.facets.product_count' | t | default: 'Products' }}">
          {% if results.products_count > 25000 %}
            {{- 'products.facets.item_count_cutoff' | t: count: 25000 | default: '25000+ products' -}}
          {% else %}
            {{- 'products.facets.product_count_simple' | t: count: results.products_count | default: results.products_count -}}
          {% endif %}
        </span>
      </div>

      {% if enable_sorting and filter_type == 'vertical' %}
        {% render 'sorting',
          results: results,
          sort_by: sort_by,
          filter_style: filter_type,
          suffix: 'desktop',
          sort_position: 'desktop',
          should_use_select_on_mobile: false,
          section_id: section_id
        %}
      {% endif %}
    </div>
  {% endif %}

  <div class="facets-block-wrapper facets-block-wrapper--{{ filter_type }}">
    <div class="facets facets--{{ filter_type }}" aria-label="{{ 'accessibility.filters' | t | default: 'Filters' }}">
      <facets-form-component
        class="facets__form-wrapper"
        section-id="{{ section_id }}"
        form-style="{{ filter_type }}"
      >
        <form
          action="{{ results_url }}"
          id="FacetFiltersForm--{{ section_id }}-desktop"
          class="facets__form"
          ref="facetsForm"
        >
          {% if enable_filtering %}
            {% render 'filter-remove-buttons',
              filters: results.filters,
              results_url: results_url,
              show_filter_label: false,
              should_show_clear_all: true
            %}

            {% assign total_active_values = 0 %}
            {% capture rendered_filters %}
              {%- for filter in results.filters -%}
                {% case filter.type %}
                  {% when 'price_range' %}
                    {%- liquid
                      if filter.min_value.value != null or filter.max_value.value != null
                        assign total_active_values = total_active_values | plus: 1
                        assign is_active = true
                      endif

                      if filter_type != 'vertical'
                        assign should_render_clear = true
                      else
                        assign should_render_clear = false
                      endif

                      render 'price-filter', filter: filter, filter_style: filter_type, should_render_clear: should_render_clear
                    -%}
                  {% else %}
                    {% liquid
                      if filter.active_values.size > 0
                        assign is_active = true
                      endif

                      assign active_value_count = filter.active_values | size
                      assign total_active_values = total_active_values | plus: active_value_count
                      if filter_type != 'vertical'
                        assign should_render_clear = true
                      else
                        assign should_render_clear = false
                      endif
                      render 'list-filter', filter: filter, filter_style: filter_type, active_value_count: active_value_count, should_render_clear: should_render_clear, sectionId: section_id
                    %}
                {% endcase %}
              {%- endfor -%}
            {% endcapture %}

            <div class="facets__filters-wrapper">
              {{ rendered_filters }}
            </div>

            {% if filter_type == 'horizontal' %}
              <facet-remove-component
                class="facets-horizontal-remove {% if is_active %}facets-horizontal-remove--active{% endif %}"
                active-class="facets__clear-all-link--active"
                data-url="{{ results_url }}"
              >
                <button
                  type="button"
                  class="button-unstyled facets__clear-all-link facets__clear-all-link--horizontal {% if is_active %}facets__clear-all-link--active{% endif %}"
                  ref="clearButton"
                  on:click="/removeFilter?form="
                  on:keydown="/removeFilter?form="
                >
                  {{- 'products.facets.clear_all' | t | default: 'Clear all' -}}
                </button>
              </facet-remove-component>
            {% endif %}
          {% endif %}

          {% if filter_type == 'horizontal' %}
            <div class="products-count-wrapper" data-testid="products-count">
              <span title="{{ 'products.facets.product_count' | t | default: 'Products' }}">
                {% if results.products_count > 25000 %}
                  {{- 'products.facets.item_count_cutoff' | t: count: 25000 | default: '25000+ products' -}}
                {% else %}
                  {{- 'products.facets.product_count_simple' | t: count: results.products_count | default: results.products_count -}}
                {% endif %}
              </span>
            </div>

            {% if enable_sorting %}
              {% render 'sorting',
                results: results,
                sort_by: sort_by,
                filter_style: filter_type,
                suffix: 'desktop',
                sort_position: 'desktop',
                should_use_select_on_mobile: false,
                section_id: section_id
              %}
            {% endif %}
          {% endif %}
        </form>
      </facets-form-component>
    </div>
  </div>

  <div class="facets-toggle{% if enable_filtering == false %} facets-toggle--no-filters{% endif %}">
    {% if enable_filtering %}
      <div class="facets-toggle__wrapper">
        <button
          class="button facets-toggle__button button-unstyled button-unstyled--with-icon"
          type="button"
          onclick="document.getElementById('filters-drawer').showModal()"
        >
          <span class="svg-wrapper">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M19 4H1L7 11V19L13 16V11L19 4Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
          {{ 'products.facets.filter_button' | t | default: 'Filter' }}

          {% if total_active_values > 0 %}
            <div class="filter-count-bubble" aria-label="{{ 'accessibility.filter_count' | t: count: total_active_values | default: total_active_values }}">
              <span class="filter-count-bubble__background"></span>
              <span class="filter-count-bubble__text" aria-hidden="true">
                {{ total_active_values }}
              </span>
            </div>
          {% endif %}
        </button>
      </div>
    {% endif %}

    <div class="facets-mobile-wrapper facets-controls-wrapper{% if enable_filtering == false and enable_sorting %} facets-mobile-wrapper--multiple-controls{% endif %}">
      {% if enable_filtering == false and enable_sorting %}
        <facets-form-component
          section-id="{{ section_id }}"
          id="FacetFiltersForm--{{ section_id }}-mobile-sorting-only"
        >
          <form
            action="{{ results_url }}"
            id="FacetFiltersForm--{{ section_id }}-mobile-sorting-only"
            ref="facetsForm"
          >
            {% render 'sorting',
              results: results,
              sort_by: sort_by,
              filter_style: filter_type,
              sort_position: 'mobile',
              should_use_select_on_mobile: should_use_select_on_mobile,
              section_id: section_id
            %}
          </form>
        </facets-form-component>
      {% endif %}
    </div>
  </div>
{% else %}
  <div></div>
{% endif %}

{% if enable_filtering %}
  <dialog id="filters-drawer" class="facets-drawer">
    <facets-form-component
      class="facets__form-wrapper facets-drawer__form-wrapper"
      section-id="{{ section_id }}"
      id="FacetFiltersFormComponent--{{ section_id }}-overflow"
    >
      <form
        action="{{ results_url }}"
        id="FacetFiltersForm--{{ section_id }}-overflow"
        class="facets__form"
        ref="facetsForm"
      >
        <div class="facets__title-wrapper">
          <h2 class="facets-drawer__title h3">
            {{ 'products.facets.filter_by_label' | t | default: 'Filter' }}

            {% if total_active_values > 0 %}
              <span class="bubble facets__bubble" aria-hidden="true">
                {{ total_active_values }}
              </span>
              <span class="visually-hidden">
                {{ 'accessibility.filter_count' | t: count: total_active_values | default: total_active_values }}
              </span>
            {% endif %}
          </h2>
          <button
            class="button facets-drawer__close button-unstyled close-button"
            type="button"
            onclick="this.closest('dialog').close()"
          >
            <span class="svg-wrapper svg-wrapper--small" title="{{ 'actions.close' | t | default: 'Close' }}">
              {% render 'icon-fragrance', icon: 'close' %}
            </span>
          </button>
        </div>

        <div class="facets-drawer__filters">
          {% if enable_filtering %}
            {% render 'filter-remove-buttons',
              filters: results.filters,
              results_url: results_url,
              show_filter_label: false,
              should_show_clear_all: false
            %}

            <div class="facets__filters-wrapper">
              {% assign total_active_values = 0 %}
              {% assign is_active = false %}

              {%- for filter in results.filters -%}
                {% case filter.type %}
                  {% when 'price_range' %}
                    {%- liquid
                      if filter.min_value.value != null or filter.max_value.value != null
                        assign total_active_values = total_active_values | plus: 1
                        assign is_active = true
                      endif

                      render 'price-filter', filter: filter, filter_style: 'vertical', should_render_clear: false
                    -%}
                  {% else %}
                    {% liquid
                      if filter.active_values.size > 0
                        assign is_active = true
                      endif

                      assign active_value_count = filter.active_values | size
                      assign total_active_values = total_active_values | plus: active_value_count
                      render 'list-filter', filter: filter, filter_style: 'vertical', active_value_count: active_value_count, should_render_clear: false, in_drawer: true, sectionId: section_id
                    %}
                {% endcase %}
              {%- endfor -%}
            </div>
          {% endif %}

          {% if enable_sorting %}
            {% render 'sorting',
              results: results,
              sort_by: sort_by,
              filter_style: filter_type,
              suffix: 'overflow',
              should_use_select_on_mobile: should_use_select_on_mobile,
              section_id: section_id
            %}
          {% endif %}
        </div>
      </form>
    </facets-form-component>

    <div class="facets__drawer-actions">
      <facet-remove-component
        data-url="{{ results_url }}"
        active-class="facets__clear-all--active"
      >
        <button
          type="button"
          class="button-secondary facets__clear-all{% if is_active %} facets__clear-all--active{% endif %}"
          ref="clearButton"
          onclick="this.closest('facet-remove-component').dispatchEvent(new Event('click'))"
        >
          {{- 'products.facets.clear_all' | t | default: 'Clear all' -}}
        </button>
      </facet-remove-component>

      {% if results.products_count > 0 %}
        <button
          class="button facets__see-results"
          type="button"
          onclick="this.closest('dialog').close()"
        >
          {{- 'products.facets.apply' | t: count: results.products_count | default: 'See results' -}}
        </button>
      {% endif %}
    </div>
  </dialog>
{% endif %}

{% stylesheet %}
  /* ---- Facets Layout (complements component-facets.css) ---- */

  .facets-block-wrapper {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 750px) {
    .facets-block-wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 100%;
    }

    .facets-block-wrapper--vertical {
      grid-column: 2 / span 2;
    }

    .facets--vertical {
      display: block;
    }
  }

  .facets__form-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  @media screen and (min-width: 750px) {
    .facets--horizontal .facets__form-wrapper {
      flex-direction: row;
      width: 100%;
    }
  }

  .facets__form {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: 750px) {
    .facets--horizontal .facets__form {
      flex-flow: row nowrap;
      align-items: center;
      height: auto;
      gap: 12px;
      width: 100%;
    }
  }

  .facets__filters-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 750px) {
    .facets--horizontal .facets__filters-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 10px;
      row-gap: 8px;
      align-items: center;
    }
  }

  .facets-horizontal-remove {
    display: flex;
    align-items: center;
  }

  .facets-horizontal-remove--active::before {
    content: '';
    border-inline-start: 1px solid rgba(0, 0, 0, 0.08);
    height: 16px;
    position: absolute;
    margin-left: -6px;
  }

  @media screen and (max-width: 749px) {
    .facets-toggle--no-filters > .facets-mobile-wrapper {
      width: 100%;
    }
  }

  .facets-mobile-wrapper--multiple-controls {
    justify-content: space-between;
  }

  .facets-drawer__form-wrapper {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .facets-drawer__form-wrapper .facets__form {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
{% endstylesheet %}
