{% comment %}
  Renders a price facet

  Accepts:
  - filter: {Object} Filter object
  - id_prefix: {String} ID prefix
  - filter_type: {String} Filter type

  Usage:
  {% render 'price-facet', filter: filter, id_prefix: 'Filter-', filter_type: filter_type %}
{% endcomment %}

<div class="field">
  <input
    class="field__input"
    name="{{ filter.min_value.param_name }}"
    id="{{ id_prefix }}{{ filter.label | escape }}-GTE"
    {%- if filter.min_value.value -%}
      value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
    {%- endif -%}
    type="number"
    placeholder="0"
    min="0"
    max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
  >
  <label class="field__label" for="{{ id_prefix }}{{ filter.label | escape }}-GTE">{{ 'products.facets.from' | t }}</label>
</div>
<span class="field-currency">{{ cart.currency.symbol }}</span>
<div class="field">
  <input
    class="field__input"
    name="{{ filter.max_value.param_name }}"
    id="{{ id_prefix }}{{ filter.label | escape }}-LTE"
    {%- if filter.max_value.value -%}
      value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
    {%- endif -%}
    type="number"
    min="0"
    placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
    max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
  >
  <label class="field__label" for="{{ id_prefix }}{{ filter.label | escape }}-LTE">{{ 'products.facets.to' | t }}</label>
</div>
