{% comment %}
  Renders social icons with robust fallback for variable names.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).

  Usage:
  {% render 'social-icons', class: 'my-class' %}
{% endcomment %}

{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

<ul class="list-social{% if class %} {{ class }}{% endif %}" role="list">
  
  {%- assign social_facebook_link = settings.social_facebook | default: settings.social_facebook_link -%}
  {%- if social_facebook_link != blank -%}
    <li class="list-social__item">
      <a href="{{ social_facebook_link }}" class="list-social__link link" >
        {%- render 'icon-fragrance', icon: 'facebook' -%}
        <span class="visually-hidden">Facebook</span>
      </a>
    </li>
  {%- endif -%}

  {%- assign social_instagram_link = settings.social_instagram | default: settings.social_instagram_link -%}
  {%- if social_instagram_link != blank -%}
    <li class="list-social__item">
      <a href="{{ social_instagram_link }}" class="list-social__link link" >
        {%- render 'icon-fragrance', icon: 'instagram' -%}
        <span class="visually-hidden">Instagram</span>
      </a>
    </li>
  {%- endif -%}
  
  {%- assign social_tiktok_link = settings.social_tiktok | default: settings.social_tiktok_link -%}
  {%- if social_tiktok_link != blank -%}
    <li class="list-social__item">
      <a href="{{ social_tiktok_link }}" class="list-social__link link" >
        {%- render 'icon-fragrance', icon: 'tiktok' -%}
        <span class="visually-hidden">TikTok</span>
      </a>
    </li>
  {%- endif -%}

  {%- assign social_tumblr_link = settings.social_tumblr | default: settings.social_tumblr_link -%}
  {%- if social_tumblr_link != blank -%}
    <li class="list-social__item">
      <a href="{{ social_tumblr_link }}" class="list-social__link link" >
        {%- render 'icon-fragrance', icon: 'tumblr' -%}
        <span class="visually-hidden">Tumblr</span>
      </a>
    </li>
  {%- endif -%}

  {%- assign social_pinterest_link = settings.social_pinterest | default: settings.social_pinterest_link -%}
  {%- if social_pinterest_link != blank -%}
    <li class="list-social__item">
      <a href="{{ social_pinterest_link }}" class="list-social__link link" >
        {%- render 'icon-fragrance', icon: 'pinterest' -%}
        <span class="visually-hidden">Pinterest</span>
      </a>
    </li>
  {%- endif -%}

  {%- assign social_twitter_link = settings.social_twitter | default: settings.social_twitter_link -%}
  {%- if social_twitter_link != blank -%}
    <li class="list-social__item">
      <a href="{{ social_twitter_link }}" class="list-social__link link" >
        {%- render 'icon-fragrance', icon: 'twitter' -%}
        <span class="visually-hidden">Twitter</span>
      </a>
    </li>
  {%- endif -%}

  {%- assign social_snapchat_link = settings.social_snapchat | default: settings.social_snapchat_link -%}
  {%- if social_snapchat_link != blank -%}
    <li class="list-social__item">
      <a href="{{ social_snapchat_link }}" class="list-social__link link" >
        {%- render 'icon-fragrance', icon: 'snapchat' -%}
        <span class="visually-hidden">Snapchat</span>
      </a>
    </li>
  {%- endif -%}

  {%- assign social_youtube_link = settings.social_youtube | default: settings.social_youtube_link -%}
  {%- if social_youtube_link != blank -%}
    <li class="list-social__item">
      <a href="{{ social_youtube_link }}" class="list-social__link link" >
        {%- render 'icon-fragrance', icon: 'youtube' -%}
        <span class="visually-hidden">YouTube</span>
      </a>
    </li>
  {%- endif -%}

  {%- assign social_vimeo_link = settings.social_vimeo | default: settings.social_vimeo_link -%}
  {%- if social_vimeo_link != blank -%}
    <li class="list-social__item">
      <a href="{{ social_vimeo_link }}" class="list-social__link link" >
        {%- render 'icon-fragrance', icon: 'vimeo' -%}
        <span class="visually-hidden">Vimeo</span>
      </a>
    </li>
  {%- endif -%}
</ul>
