{% comment %}
  Renders social icons using the theme's native 'social-list' structure.
  Checks for both legacy and standard variable names.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).

  Usage:
  {% render 'social-icons', class: 'custom-class' %}
{% endcomment %}

<ul class="social-list{% if class %} {{ class }}{% endif %}">
  
  {%- assign social_facebook_link = settings.social_facebook | default: settings.social_facebook_link -%}
  {%- if social_facebook_link != blank -%}
    <li>
      <a href="{{ social_facebook_link }}" class="social-link" target="_blank" rel="noopener" aria-label="Facebook">
        {% render 'icon-fragrance', icon: 'facebook' %}
      </a>
    </li>
  {%- endif -%}

  {%- assign social_instagram_link = settings.social_instagram | default: settings.social_instagram_link -%}
  {%- if social_instagram_link != blank -%}
    <li>
      <a href="{{ social_instagram_link }}" class="social-link" target="_blank" rel="noopener" aria-label="Instagram">
        {% render 'icon-fragrance', icon: 'instagram' %}
      </a>
    </li>
  {%- endif -%}
  
  {%- assign social_tiktok_link = settings.social_tiktok | default: settings.social_tiktok_link -%}
  {%- if social_tiktok_link != blank -%}
    <li>
      <a href="{{ social_tiktok_link }}" class="social-link" target="_blank" rel="noopener" aria-label="TikTok">
        {% render 'icon-fragrance', icon: 'tiktok' %}
      </a>
    </li>
  {%- endif -%}

  {%- assign social_tumblr_link = settings.social_tumblr | default: settings.social_tumblr_link -%}
  {%- if social_tumblr_link != blank -%}
    <li>
      <a href="{{ social_tumblr_link }}" class="social-link" target="_blank" rel="noopener" aria-label="Tumblr">
        {% render 'icon-fragrance', icon: 'tumblr' %}
      </a>
    </li>
  {%- endif -%}

  {%- assign social_pinterest_link = settings.social_pinterest | default: settings.social_pinterest_link -%}
  {%- if social_pinterest_link != blank -%}
    <li>
      <a href="{{ social_pinterest_link }}" class="social-link" target="_blank" rel="noopener" aria-label="Pinterest">
        {% render 'icon-fragrance', icon: 'pinterest' %}
      </a>
    </li>
  {%- endif -%}

  {%- assign social_twitter_link = settings.social_twitter | default: settings.social_twitter_link -%}
  {%- if social_twitter_link != blank -%}
    <li>
      <a href="{{ social_twitter_link }}" class="social-link" target="_blank" rel="noopener" aria-label="Twitter">
        {% render 'icon-fragrance', icon: 'twitter' %}
      </a>
    </li>
  {%- endif -%}

  {%- assign social_snapchat_link = settings.social_snapchat | default: settings.social_snapchat_link -%}
  {%- if social_snapchat_link != blank -%}
    <li>
      <a href="{{ social_snapchat_link }}" class="social-link" target="_blank" rel="noopener" aria-label="Snapchat">
        {% render 'icon-fragrance', icon: 'snapchat' %}
      </a>
    </li>
  {%- endif -%}

  {%- assign social_youtube_link = settings.social_youtube | default: settings.social_youtube_link -%}
  {%- if social_youtube_link != blank -%}
    <li>
      <a href="{{ social_youtube_link }}" class="social-link" target="_blank" rel="noopener" aria-label="YouTube">
        {% render 'icon-fragrance', icon: 'youtube' %}
      </a>
    </li>
  {%- endif -%}

  {%- assign social_vimeo_link = settings.social_vimeo | default: settings.social_vimeo_link -%}
  {%- if social_vimeo_link != blank -%}
    <li>
      <a href="{{ social_vimeo_link }}" class="social-link" target="_blank" rel="noopener" aria-label="Vimeo">
        {% render 'icon-fragrance', icon: 'vimeo' %}
      </a>
    </li>
  {%- endif -%}
</ul>
