<!-- 
  - #BLOG
-->

<section class="section blog" id="blog" aria-label="blog" data-aos="fade-up">
  <div class="container">

    <div class="title-wrapper">
      <h2 class="h2 section-title">{{section.settings.heading_text}}</h2>

      <a href="/blogs/news" class="btn-link">
        <span class="span">View All</span>

        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
      </a>
    </div>

    <ul class="grid-list">
      {% assign selected_blog_handle = section.settings.blog_type %}

      {% if selected_blog_handle != blank and blogs[selected_blog_handle].articles.size > 0 %}
        <!-- Display articles from selected blog -->
        {% for article in blogs[selected_blog_handle].articles limit: 3 %}
          <li class="flex-item">
            <div class="blog-card">
              <figure class="card-banner img-holder has-before hover:shine" style="--width:700; --height:450;">
                <img src="{{ article.image | img_url : 'large' }}" alt="{{ article.title }}" class="img-cover" width="700" height="450" loading="lazy">
              </figure>
      
              <h3 class="h3">
                <a href="{{ article.url }}" class="card-title">{{ article.title }}</a>
              </h3>
              
              <a href="{{ article.url }}" class="btn-link">
                <span class="span">Read More</span>
                <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
              </a>
            </div>
          </li>
        {% endfor %}
      {% else %}
        <!-- Display default blog cards -->
        <li>
          <div class="blog-card">

            <div class="card-banner img-holder" style="--width: 374; --height: 243;">
              <img src='{{ 'b1.jpg' | asset_url}}' width="374" height="243" loading="lazy"
                alt="Unique products that will impress your home in 2022." class="img-cover">

              <a href="#" class="card-btn">
                <span class="span">Read more</span>

                <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
              </a>
            </div>

            <div class="card-content">

              <h3 class="h3">
                <a href="#" class="card-title">Understanding Fragrance Families and Their Unique Appeal</a>
              </h3>

              <ul class="card-meta-list">

                <li class="card-meta-item">
                  <time class="card-meta-text" datetime="2022-09-27">November 27, 2022</time>
                </li>

                <li class="card-meta-item">
                  <a href="#" class="card-meta-text">Admin</a>
                </li>

                <li class="card-meta-item">
                  in <a href="#" class="card-meta-text">deco</a>
                </li>

              </ul>

            </div>

          </div>
        </li>

        <li>
          <div class="blog-card">

            <div class="card-banner img-holder" style="--width: 374; --height: 243;">
              <img src='{{ 'b2.jpg' | asset_url}}' width="374" height="243" loading="lazy"
                alt="Navy Blue & White Striped Area Rugs" class="img-cover">

              <a href="#" class="card-btn">
                <span class="span">Read more</span>

                <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
              </a>
            </div>

            <div class="card-content">

              <h3 class="h3">
                <a href="#" class="card-title">The Art of Choosing the Perfect Fragrance</a>
              </h3>

              <ul class="card-meta-list">

                <li class="card-meta-item">
                  <time class="card-meta-text" datetime="2022-09-25">November 25, 2022</time>
                </li>

                <li class="card-meta-item">
                  <a href="#" class="card-meta-text">Admin</a>
                </li>

                <li class="card-meta-item">
                  in <a href="#" class="card-meta-text">deco</a>
                </li>

              </ul>

            </div>

          </div>
        </li>

        <li>
          <div class="blog-card">

            <div class="card-banner img-holder" style="--width: 374; --height: 243;">
              <img src='{{ 'b3.jpg' | asset_url}}' width="374" height="243" loading="lazy"
                alt="Woodex White Coated Staircase Floating" class="img-cover">

              <a href="#" class="card-btn">
                <span class="span">Read more</span>

                <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
              </a>
            </div>

            <div class="card-content">

              <h3 class="h3">
                <a href="#" class="card-title">How to Store and Apply Your Fragrance for Long-Lasting Scent</a>
              </h3>

              <ul class="card-meta-list">

                <li class="card-meta-item">
                  <time class="card-meta-text" datetime="2022-09-18">November 18, 2022</time>
                </li>

                <li class="card-meta-item">
                  <a href="#" class="card-meta-text">Admin</a>
                </li>

                <li class="card-meta-item">
                  in <a href="#" class="card-meta-text">deco</a>
                </li>

              </ul>

            </div>

          </div>
        </li>
      {% endif %}
    </ul>

  </div>
</section>

{% schema %}
{
  "name": "blog",
  "settings": [
     {
      "type":"text",
      "id":"heading_text",
      "label":"Blog Heading",
      "default":"Explore Our Blog"
     },
     {
      "type": "blog",
      "id": "blog_type",
      "label": "Select Blog Category"
     }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "blog"
    }
  ]
}
{% endschema %}