 <!--FEATURE-->
<section class="section feature color-scheme-{{ section.settings.color_scheme }}" style="{% render 'color-scheme-styles', scheme: section.settings.color_scheme %}" aria-label="feature" >
    <div class="container">
        <h2 class="h2-large section-title">{{section.settings.maintitle}}</h2>
        <ul class="flex-list">
          <li class="flex-item">
            <div class="feature-card">
              {% render 'icon-fragrance', icon: 'bag-check', class: 'card-icon', style: 'font-size: 5rem;' %}
              <h3 class="h3 card-title">{{section.settings.title1}}</h3>
               <p class="card-text">
                 {{section.settings.description1 }}
               </p>
             </div>
          </li>
          <li class="flex-item">
            <div class="feature-card">
              {% render 'icon-fragrance', icon: 'card', class: 'card-icon', style: 'font-size: 5rem;' %}
                 <h3 class="h3 card-title">{{section.settings.title2}}</h3>
                  <p class="card-text">
                    {{section.settings.description2}}
                  </p>
             </div>
          </li>
          <li class="flex-item">
            <div class="feature-card"> 
              {% render 'icon-fragrance', icon: 'paper-plane', class: 'card-icon', style: 'font-size: 5rem;' %}
                <h3 class="h3 card-title">{{section.settings.title3}}</h3>
                <p class="card-text">
                  {{section.settings.description3}}
                </p>
            </div>
          </li>
        </ul>
    </div>
</section>


{% schema %}
{
  "name": "Multicolumn",
  "settings": [
    {
      "type": "color_scheme","id": "color_scheme","label": "Color scheme","default": "scheme-1"
    },
    {
      "type": "text",
      "id": "maintitle",
      "label": "Heading",
      "default": "Why Shop with Shoehive"
    },
    {
      "type": "text",
      "id": "title1",
      "label": "Column heading 1",
      "default": "Seamless Shopping"
    },
    {
      "type": "inline_richtext",
      "id": "description1",
      "label": "Description 1",
      "default": "Shopping for your favorite sneakers is easy—browse our extensive collection, choose your perfect pair, and enjoy a seamless shopping experience."
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Column heading 2",
      "default": "Secure Payments"
    },
    {
      "type": "inline_richtext",
      "id": "description2",
      "label": "Description 2",
      "default": "Checkout is quick and secure with various payment options, ensuring a smooth purchase so you can focus on getting the best sneakers."
    },
    {
      "type": "text",
      "id": "title3",
      "label": "Column heading 3",
      "default": "Fast and Reliable Delivery"
    },
    {
      "type": "inline_richtext",
      "id": "description3",
      "label": "Description 3",
      "default": "Our efficient delivery process ensures your sneakers arrive quickly and securely, whether it's the latest Nike release or classic Adidas kicks."
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Multicolumn"
    }
  ]
}
{% endschema %}


