<!-- 
  - #FEATURED POST
-->

<section class="section featured" aria-label="featured post">
  <div class="container">

    <p class="section-subtitle">
     {{ section.settings.mainBlog_text }}
    </p>

    {%- paginate blog.articles by 12 -%}
      <ul class="blog-grid">
        {%- for article in blog.articles -%}
          <li class="blog-grid-item">
            <div class="blog-card">
              <figure class="card-banner img-holder" style="--width: 500; --height: 600;">
                {%- if article.image -%}
                  <img src="{{ article.image | image_url: width: 500 }}" width="500" height="600" loading="lazy"
                  alt="{{ article.image.alt | escape }}" class="img-cover"/>
                {%- else -%}
                   {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </figure>

              <div class="card-content">
                <ul class="card-meta-list">
                  {%- for tag in article.tags -%}
                    <li>
                      <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="card-tag">{{ tag }}</a>
                    </li>
                  {%- endfor -%}
                </ul>

                <h3 class="h4">
                  <a href="{{ article.url }}" class="card-title hover:underline">
                    {{ article.title }}
                  </a>
                </h3>

                <div class="card-text rte">
                  {{ article.excerpt_or_content | strip_html | truncatewords: 30 }}
                </div>

                <div class="card-footer-meta">
                  <span class="article-date">{{ article.published_at | date: "%b %d, %Y" }}</span>
                </div>
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ul>

      {%- if paginate.pages > 1 -%}
        <div class="pagination">
          {{ paginate | default_pagination }}
        </div>
      {%- endif -%}
    {%- endpaginate -%}

  </div>
</section>

</style>

{% schema %}
{
  "name": "main-blog",
  "settings": [
    {
      "type":"text",
      "id":"mainBlog_text",
      "label":"Main Blog Heading",
      "default":"Get started with our best stories"
     },
     {
      "type": "blog",
      "id": "blog_type",
      "label": "Select Blog Category"
     }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "main-blog"
    }
  ]
}
{% endschema %}