<section class="section service" id="service" aria-labelledby="service-lable">

  <p class="section-subtitle container" id="service-lable"></p>
  <div class="container">
    <ul class="service-list">

      {% for i in (1..4) %}
        {% assign image_key = 'image_' | append: i %}
        {% assign title_key = 'title_' | append: i %}
        {% assign subtitle_key = 'subtitle_' | append: i %}
        {% assign link_key = 'link_' | append: i %}
        
        <li data-reveal>
          <div class="service-card container">
  
            {% if section.settings[image_key] != blank %}
              <img src="{{ section.settings[image_key] | image_url: width: 340 }}" 
                   width="340" 
                   height="380" 
                   loading="lazy" 
                   alt="{{ section.settings[image_key].alt | default: section.settings[title_key] }}"
                   class="img">
            {% else %}
              {{ 'product-1' | placeholder_svg_tag: 'img' }}
            {% endif %}
  
            <div>
              <h3 class="h3 card-title">{{ section.settings[title_key] }}</h3>
  
              <p class="card-subtitle">
                {{ section.settings[subtitle_key] }}
              </p>
            </div>
  
            <a href="{{ section.settings[link_key] }}" class="btn-icon" aria-label="See more">
              <svg xmlns="http://www.w3.org/2000/svg" width="43" height="20" viewBox="0 0 43 20" fill="none">
                <path d="M0 10H41" stroke="black" stroke-width="2" />
                <path d="M33 1L41.9 10.2727L33 19" stroke="black" stroke-width="2" />
              </svg>
            </a>
  
          </div>
        </li>
      {% endfor %}

    </ul>

  </div>
  
</section>

<style>
.service { padding-inline: 15px; }

.service .section-subtitle {
  padding-inline: 10px;
  margin-block-end:75px;
}

.service-card .img { display: none; }

.service-list > li:not(:last-child) { border-block-start: 1px solid black; }

.service-list > li:last-child { border-block: 1px solid black; }

.service-card { padding: 30px 10px; }

.service-card .card-subtitle {
  color:black;
  font-size: var(--fs-7);
  font-weight: var(--fw-300);
  line-height: 1.5;
  margin-block: 10px 25px;
}

.service-card .btn-icon {
  width: 55px;
  height: 55px;
  border: 1px solid black;
  --bg-color: transparent;
  --hover-bg-color: gray;
  --hover-text-color: var(--black);
}

.service-card .btn-icon svg { width: 25px; }

.img{
    width: 300px;
    height: 300px;
}


.btn-icon {
  background-color: var(--bg-color, var(--white));
  border-radius: 50%;
  display: grid;
  place-content: center;
  transition: var(--transition-2);
}

.btn-icon path { transition: var(--transition-2); }

.btn-icon:is(:hover, :focus-visible) {
  background-color: var(--hover-bg-color, var(--white));
}

.btn-icon:is(:hover, :focus-visible) path {
  stroke: var(--hover-text-color, var(--black));
}

@media (min-width: 768px){
 /**
   * SERVICE
   */

   .service-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .service-card .card-subtitle { margin-block-end: 15px; }   
}



@media (min-width: 992px){
/**
   * SERVICE
   */

   .service-card { position: relative; }

   .service-card .img {
     display: block;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 200px;
     opacity: 0;
     visibility: hidden;
     transition: var(--transition-1);
     z-index: -1;
   }
 
   .service-card:is(:hover, :focus-within) .img {
     opacity: 1;
     visibility: visible;
   }
} 

@media (min-width: 1200px){
/**
   * SERVICE
   */

   .service-card { padding-block: 50px; }

   .service-card .card-subtitle { --fs-7: 2.4rem; }
 
   .service-card .img { width: max-content; }
 
   .service-card .btn-icon {
     width: 95px;
     height: 95px;
   }
 
   .service-card .btn-icon svg { width: 40px; }
 
}

@media (min-width: 1400px) {
    
  /**
   * SERVICE
   */

  .service { padding-inline: 70px; }

  .service-card { padding-block: 65px; }
}
</style>

{% schema %}
{
  "name": "Services",
  "tag": "section",
  "class": "section service",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "header",
      "content": "Service Card 1"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1",
      "info": "340 x 380px recommended. Shows on hover (desktop only)"
    },
    {
      "type": "text",
      "id": "title_1",
      "label": "Title 1",
      "default": "Luxury Perfumes"
    },
    {
      "type": "textarea",
      "id": "subtitle_1",
      "label": "Description 1",
      "default": "Discover timeless scents crafted with elegance."
    },
    {
      "type": "url",
      "id": "link_1",
      "label": "Link 1"
    },
    {
      "type": "header",
      "content": "Service Card 2"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2",
      "info": "340 x 380px recommended. Shows on hover (desktop only)"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Title 2",
      "default": "Fresh & Floral"
    },
    {
      "type": "textarea",
      "id": "subtitle_2",
      "label": "Description 2",
      "default": "Light, breezy fragrances inspired by nature."
    },
    {
      "type": "url",
      "id": "link_2",
      "label": "Link 2"
    },
    {
      "type": "header",
      "content": "Service Card 3"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Image 3",
      "info": "340 x 380px recommended. Shows on hover (desktop only)"
    },
    {
      "type": "text",
      "id": "title_3",
      "label": "Title 3",
      "default": "Exclusive Collections"
    },
    {
      "type": "textarea",
      "id": "subtitle_3",
      "label": "Description 3",
      "default": "Limited-edition perfumes for a signature style"
    },
    {
      "type": "url",
      "id": "link_3",
      "label": "Link 3"
    },
    {
      "type": "header",
      "content": "Service Card 4"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "Image 4",
      "info": "340 x 380px recommended. Shows on hover (desktop only)"
    },
    {
      "type": "text",
      "id": "title_4",
      "label": "Title 4",
      "default": "Evening Elegance"
    },
    {
      "type": "textarea",
      "id": "subtitle_4",
      "label": "Description 4",
      "default": "Bold and sophisticated scents made for special nights."
    },
    {
      "type": "url",
      "id": "link_4",
      "label": "Link 4"
    }
  ],
  "presets": [
    {
      "name": "Services"
    }
  ]
}
{% endschema %}