<!-- Preload static hero images -->
{% comment %} <link rel="preload" as="image" href="{{ 'ShoesNike6.jpg' | asset_url }}">
<link rel="preload" as="image" href="{{ 'ShoesAsics3.jpg' | asset_url }}">
<link rel="preload" as="image" href="{{ 'ShoesAdd2.jpg' | asset_url }}">
<link rel="preload" as="image" href="{{ 'shoes32.png' | asset_url }}">
<link rel="preload" as="image" href="{{ 'ShoesPuma2.jpg' | asset_url }}">
<link rel="preload" as="image" href="{{ 'ShoesConverse2.jpg' | asset_url }}"> {% endcomment %}

<!-- Preload images dynamically if section blocks are used -->
{% for block in section.blocks %}
  {% if block.settings.hero_image %}
    <link rel="preload" as="image" href="{{ block.settings.hero_image | image_url }}">
  {% endif %}
{% endfor %}


<section class="hero1  text-center" style="min-height: 50vh;" aria-label="home" id="home">
  {% comment %} <div class="container"> {% endcomment %}
    <ul class="hero1-slider" data-hero-slider>
      {% if section.blocks.size == 0 %}
        <li class="slider-item active" data-hero-slider-item style="padding-block-start: 70px;">
    
          <div class="slider-bg hero1-card has-bg-image" style="position: relative; background-attachment: fixed;">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)); z-index: 1;"></div>
            {{ 'collection-1' | placeholder_svg_tag: 'img-cover' }}
          </div>
      
            <div class="card-content">
            <h1 class="h1 hero1-title slider-reveal">
              Bleu De Chanel
            </h1>
            <p class="price slider-reveal"> Starting at $17.99</p>
            <div style="display: flex; justify-content: flex-start;">
              <a href="#" class="btn btn-primary slider-reveal">Shop Now</a>
            </div>
            </div>
    
        </li>
        <li class="slider-item" data-hero-slider-item style="padding-block-start:70px;">
    
          <div class="slider-bg hero1-card has-bg-image" style="background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ 'r10.jpg' | asset_url }}'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center;">
            {% comment %} <img src="{{ 'shoe8.jpg' | asset_url }}" width="1880" height="950" alt="" class="img-cover hero-card has-bg-image"> {% endcomment %}
          </div>
    
          <div class="card-content">
            <h1 class="h1 hero1-title slider-reveal">
              Sun di Gioia 
              </h1>
              <p class="price slider-reveal"> Starting at $17.99</p>
              <div style="display: flex; justify-content: flex-start;">
                <a href="#" class="btn btn-primary slider-reveal">Shop Now</a>
              </div>
            </div>
        </li>
        <li class="slider-item " data-hero-slider-item style="padding-block-start:70px;">
    
          <div class="slider-bg hero1-card has-bg-image" style="background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ 'collection-1' | placeholder_svg_tag: 'img-cover' }}'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center;">
            {% comment %} <img src="{{ 'shoe8.jpg' | asset_url }}" width="1880" height="950" alt="" class="img-cover hero-card has-bg-image"> {% endcomment %}
          </div>
    
          <div class="card-content">
            <h1 class="h1 hero1-title slider-reveal">
              Dior Sauvage
            </h1>
            <p class="price slider-reveal"> Starting at $17.99</p>
            <div style="display: flex; justify-content: flex-start;">
              <a href="#" class="btn btn-primary slider-reveal">Shop Now</a>
            </div>
          </div>
    
        </li>
        
        <li class="slider-item" data-hero-slider-item style="padding-block-start:70px;">
    
          <div class="slider-bg hero1-card has-bg-image" style="background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ 'collection-1' | placeholder_svg_tag: 'img-cover'  }}'); background-position: center;">
            {% comment %} <img src="{{ 'shoe8.jpg' | asset_url }}" width="1880" height="950" alt="" class="img-cover hero-card has-bg-image"> {% endcomment %}
          </div>
    
          <div class="card-content">
            <h1 class="h1 hero1-title slider-reveal">
              Dior
              </h1>
              <p class="price slider-reveal"> Starting at $17.99</p>
              <div style="display: flex; justify-content: flex-start;">
                <a href="#" class="btn btn-primary slider-reveal">Shop Now</a>
              </div>
            </div>
        </li>
        <li class="slider-item" data-hero-slider-item style="padding-block-start:70px;">
          <div class="slider-bg hero1-card has-bg-image" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ 'collection-1' | placeholder_svg_tag: 'img-cover' }}'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center;">
            {% comment %} <img src="{{ 'shoe8.jpg' | asset_url }}" width="1880" height="950" alt="" class="img-cover hero-card has-bg-image"> {% endcomment %}
          </div>
    
          <div class="card-content">
            <h1 class="h1 hero1-title slider-reveal">
              Julliete has a gun
              </h1>
              <p class="price slider-reveal"> Starting at $17.99</p>
              <div style="display: flex; justify-content: flex-start;">
                <a href="#" class="btn btn-primary slider-reveal">Shop Now</a>
              </div>
            </div>
        </li>
        <li class="slider-item" data-hero-slider-item  style="padding-block-start:70px;">
    
          <div class="slider-bg hero1-card has-bg-image" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('{{ 'collection-1' | placeholder_svg_tag: 'img-cover' }}'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center;">
            {% comment %} <img src="{{ 'shoe8.jpg' | asset_url }}" width="1880" height="950" alt="" class="img-cover hero-card has-bg-image"> {% endcomment %}
          </div>
    
          <div class="card-content">
            <h1 class="h1 hero1-title slider-reveal">
              Valentino
              </h1>
              <p class="price slider-reveal"> Starting at $17.99</p>
              <div style="display: flex; justify-content: flex-start;">
                <a href="#" class="btn btn-primary slider-reveal">Shop Now</a>
              </div>
            </div>
        </li>
      {% else %}
      {% for block in section.blocks %}
          <li class="slider-item active" data-hero-slider-item style="padding-block-start: 70px;">

            <div class="slider-bg hero-card has-bg-image" 
                style="background-image: url('{{ block.settings.hero_image | image_url }}'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-position: center;">
            </div>
          
            <div class="card-content">
              <h1 class="h1 hero-title slider-reveal">
                {{ block.settings.brand_name }}
              </h1>
              <p class="price slider-reveal"> Starting at {{ block.settings.starting_price }}</p>
              <div style="display: flex; justify-content: flex-start;">
                <a href="{{ block.settings.shop_now_link }}" class="btn btn-primary slider-reveal">{{ block.settings.shop_now_text }}</a>
              </div>
            </div>
          
          </li>
       {% endfor %}
      {%  endif %}
    </ul>
  
    <button class="slider-btn prev" aria-label="slide to previous" data-prev-btn>
    <ion-icon name="chevron-back"></ion-icon>
    </button>
  
    <button class="slider-btn next" aria-label="slide to next" data-next-btn>
     <ion-icon name="chevron-forward"></ion-icon>
    </button>
  {% comment %} </div> {% endcomment %}
</section>
<style>
   /*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero1 .slider-btn { display: none; }

.hero1 {
  position: relative;
  padding-block: 120px;
  min-height: 85vh;
  overflow: hidden;
  z-index: 1;
}

/* .hero1 .slider-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; 
  height: 100%;
  display: grid;
  place-content:center;
  padding-inline-start:50px;
  padding-block-end:130px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-3);
  z-index: 1;
} */
.hero1 .slider-item {
  position: absolute;
  top: 50%; /* Position the content halfway vertically */
  left: 0%; /* Align content to the left */
  transform: translateY(-50%); /* Correct vertical alignment */
  width: 100%;
  height: 100%;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically center the content */
  justify-content: start; /* Align content to the start (left) */
  padding-inline-start:130px; /* Adjust left padding */
  padding-block-end: 50px; /* Keep padding at the bottom */
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-3);
  z-index: 1;
}


.hero1 .slider-item.active {
  opacity: 1;
  visibility: visible;
}

.hero1 .slider-bg {
  position: absolute;
  top: 0;
  left: 0;
   width: 100%; 
  height: 100%;
  transform: scale(1.15);
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.hero1 .slider-item.active .slider-bg {
  animation: smoothScale 7s linear forwards;
}

@keyframes smoothScale {
  0% { transform: scale(1); }
  100% { transform: scale(1.15); }
}

.hero1 .section-subtitle::after { margin-block: 14px 20px; }

.hero1-text { margin-block: 10px 40px; }

/* .hero .btn { margin-inline: auto; } */

.hero1-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  background-color: white;
  width: 110px;
  height: 110px;
  padding: 12px;
  transform: scale(0.6);
}

.hero1-btn img {
  margin-inline: auto;
  margin-block-end: 6px;
}

.hero1-btn .span {
  color: var(--black);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-1);
  line-height: var(--lineHeight-3);
}

.hero1-btn::after {
  inset: 0;
  border: 1px solid var(--gold-crayola);
  animation: rotate360 15s linear infinite;
}

.slider-reveal {
  transform: translateY(30px);
  opacity: 0;
}

.hero1 .slider-item.active .slider-reveal {
  animation: sliderReveal 1s ease forwards;
}


.hero1 .slider-item .card-content{
color:white;
}


@keyframes sliderReveal {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero1  .slider-item.active .section-subtitle { animation-delay: 100ms; }

.hero1 .slider-item.active .hero-title { animation-delay: 300ms; }

.hero1 .slider-item.active .hero-text { animation-delay: 700ms; }

.hero1 .slider-item.active .price { animation-delay: 1s; }

.hero1 .slider-item.active .btn { animation-delay: 1.5s;}

/**
 * responsive for larger than 1200px screen
 */
 @media screen and (max-width: 575px){
  .hero1 .slider-item {
    padding-inline-start: 35px;
  }
  
 }

 @media screen and(max-width: 992px){
 
}
 @media (min-width: 1200px) {

  /**
   * HERO
   */

   .hero1 { height: 420px; }

  .hero1-btn {
    bottom: 50px;
    right: 50px;
    transform: scale(1);
  }
}
</style> 

<script>
  const addEventOnElements = function(elements, eventType, callback){
    for(let i = 0, len = elements.length; i< len; i++){
        elements[i].addEventListener(eventType, callback)
    }
  }  
    /*HERO SLIDER*/
  const heroSlider = document.querySelector('[data-hero-slider]')
  const heroSliderItems = document.querySelectorAll("[data-hero-slider-item]")
  const heroSliderPrevBtn = document.querySelector("[data-prev-btn]")
  const heroSliderNextBtn = document.querySelector("[data-next-btn]")
  
  let currentSlidePos = 0;
  let lastActiveSliderItem = heroSliderItems[0];
  
  const updateSliderPos = function(){
    lastActiveSliderItem.classList.remove('active');
    heroSliderItems[currentSlidePos].classList.add('active');
    lastActiveSliderItem = heroSliderItems[currentSlidePos]
  }
  
  const slideNext = function(){
    if(currentSlidePos >= heroSliderItems.length -1){
      currentSlidePos =0
    } else {
      currentSlidePos++
    }
   console.log("new")
    updateSliderPos()
  }
  
  const slidePrev = function(){
    if(currentSlidePos < 1){
      currentSlidePos = heroSliderItems.length -1
    }else{
      currentSlidePos--
    }
    updateSliderPos()
  }
  
  heroSliderPrevBtn.addEventListener("click", slidePrev)
  heroSliderNextBtn.addEventListener("click", slideNext)
  let autoSlideInterval;
  
  const autoSlide = function(){
    autoSlideInterval = setInterval(function(){
      slideNext()
    }, 3000)
  }
  
  addEventOnElements([heroSliderNextBtn, heroSliderPrevBtn], 'mouseover', function(){
    clearInterval(autoSlideInterval)
  })
  
  addEventOnElements([heroSliderNextBtn, heroSliderPrevBtn], 'mouseout', autoSlide)
  
  window.addEventListener("load", autoSlide)
  
  const parallaxItems = document.querySelectorAll("[data-parallax-item]")
  
  let x,y;
  
  window.addEventListener('mousemove', function(event){
   
     x = (event.clientX / window.innerWidth * 10)-5;
     y = (event.clientY/ window.innerHeight * 10)-5
  
     //reverse the number eg. 20 -> -20, -5 -> 5
  
     x = x - (x * 2)
     y = y - (y * 2)
  
  
     for(let i = 0, len = parallaxItems.length; i < len; i++){
       x = x * Number(parallaxItems[i].dataset.parallaxSpeed)
       y = y * Number(parallaxItems[i].dataset.parallaxSpeed)
       parallaxItems[i].style.transform = `translate3d(${x}px, ${y}px, 0px)`
     }
  })
  
</script>

  {% schema %}
{
  "name": "shop-header",
  "settings": [],
  "blocks": [
    {
     "type": "hero_section",
      "name": "Hero Section",
      "settings": [
        {
          "type": "image_picker",
          "id": "hero_image",
          "label": "Hero Image",
          
        },
        {
          "type": "text",
          "id": "brand_name",
          "label": "Brand Name",
          "default": "Nike"
        },
        {
          "type": "text",
          "id": "starting_price",
          "label": "Starting Price",
          "default": "$17.99"
        },
        {
          "type": "url",
          "id": "shop_now_link",
          "label": "Shop Now Button Link",
          "default": "/"
        },
        {
          "type": "text",
          "id": "shop_now_text",
          "label": "Shop Now Button Text",
          "default": "Shop Now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "shop"
    }
  ]
}
{% endschema %}